/* ========== START Dark Mode Colors ========== */
:root {
    --primary: #131516;
    --seconday: #2B2F31;
    --text: #d8d4cf;
    --blue: #004daa;
    --caption: #e8e6e3;
}
/* ========== END Dark Mode Colors ========== */
/* ========== START CSS Reset ========== */
html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}
ol, ul {
    list-style: none;
}
img {
    max-width: 100%;
    height: auto;
}

button {
    margin: 0;
    padding: 0;
    background: 0;
    border: 0;
}
/* ========== END CSS Reset ========== */



body {
    height: 100vh;
    background: var(--primary);
    color: var(--text);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    /* flex-direction: column; */
    padding: 16px;
}

main {
    display: flex;
    flex: 1;
    /* border: 1px solid var(--seconday); */


}

#calc {
    /* border-right: 1px solid var(--seconday); */
    flex: 1;

    display: flex;
    flex-direction: column;

}

#history {
    flex: 1;
    border: 1px solid var(--seconday);
}

#display {
    /* border-bottom: 1px solid var(--seconday); */
    flex: 1;
    
    display: flex;
    justify-content: center;

    padding: 8px;
}

#display-text {
    min-width: 158px;
    border: 1px solid var(--caption);
}


#buttons {
    flex: 4;

    display: flex;
    flex-direction: column;

    gap: 4px;
}

.row {
    /* border-bottom: 1px solid var(--seconday); */
    flex: 1;

    display: flex;
    justify-content: center;
    gap: 4px;
}

button {
    min-width: 50px;
    color: var(--text);
    border: 1px solid var(--caption);
}

button:hover {
    background: var(--seconday);
}

button:active {
    transform: scale(1.05);
}